
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Main page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
        h1 {
            font-family: 'Lato', sans-serif;
            font-size: 54px;
            font-weight: 300;
            line-height: 58px;
            margin: 0 0 58px;
        }

    </style>


</head>

    <body>

        <div class="page-header text-center">
            <h1>Welcome to Mask Messenger! </h1>
            <a type="button" class="btn btn-default btn-lg btn-info" href="/chatroom">
                 Log In
            </a>
        </div>

    </body>
</html>